.container{
    display:grid;
    grid-template-columns:1,2fr;
    /* grid-template-rows:repeat(3,300px); */
    grid-template-areas: "aa"
                        "bb"
                        "cc";
}
header{
    grid-area:aa;
    background:url(../images/rubies.png),radial-gradient(pink 30%, crimson);
    background-repeat:no-repeat;
    background-position:right;
    padding-bottom:6.2em;
    padding-left:2em;
}
h1{
    font-style: italic;
}
    header p{
        font-size:20px;
        font-style:italic;
    }
    h3{
        font-style:bold;
        font-size:20px;
    }
 button{
    border:none;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:4em;
    padding-left:4em;
    border-radius:3em;
    background-color:red;
    margin-top:20px;
    color: white;
    font-style:italic;
 }
 h2{
     text-align: center;
     text-decoration: underline crimson;
     font-style:italic;
 }
article{
    grid-area: bb;
    background-color: white;
}
.review{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-areas: "aa bb cc";
    gap: 1em;
}
section{
background-color: aqua;
width:400px;
height:500px;
justify-content:space-between;
}
section:nth-of-type(1){
    grid-area: aa;
    background-image:url(../images/review1.png);

}
section:nth-of-type(2){
    grid-area:bb;
    background-image:url(../images/review2.png);
    
}
section:nth-of-type(3){
    grid-area:cc;
    background-image: url(../images/review3.png);
    
}
footer{
    grid-area:cc;
    background-color:black;
}
footer #below{
    color:white;
    text-align: center;
}

.bottom{
    color:white;
    display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
 
.first h4{
    display: block;
    flex-direction:row;
}
.second h4{
    display: block;
    flex-direction:row;
    padding-left:1.5em;
}
.third h4{
    display: block;
    flex-direction:row;
    padding-left:1.5em;
}
.four h4{
    display: block;
    flex-direction:row;
    padding-left:1.5em;
}

ul{
    list-style-type:none;
}
 li{ 
  padding-block:0.4em;
} 